@{
    ViewData["Title"] = "Project description";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This application is using for ITCS 4155 project.</p>
<p>Since this team do not have any experience with web programming.</p>
<p>This project provides a chance to learn and particle webprogramming.</p>
