@{
    ViewData["Title"] = "Contact";
}
<h2>ITCS 4155 FALL 2016</h2>
<h3>Group 16 BitPlease</h3>

<address>
    Briana Egas<br>
    Edson Gonzalez<br>
    YinHang Kwok<br>Ian Combs<br>
    Justin Gaddy<br>
</address>

<address>
    <strong>IT Support:</strong>   <a href="mailto:BitPlease@uncc.edu ">BitPlease@uncc.edu</a><br />
</address>
